@{
    ViewData["Title"] = "Politique de Confidentialité";
}
<h1>@ViewData["Title"]</h1>

@* <p>Utilisez cette page pour détailler la politique de confidentialité de votre site.</p>*@
<p>Nous prenons votre vie privée très au sérieux. Toutes vos données sont stockées en toute sécurité et ne seront jamais partagées sans... euh...</p>

<div style="text-align: center; margin-top: 50px;">
    <img src="~/images/fbi-open-up.gif" alt="FBI OPEN UP Meme GIF" style="max-width: 100%; height: auto;" />
</div>